[init]
	defaultBranch = main

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --color --pretty=format:'%C(bold white)%h%Creset -%C(auto)%d%Creset %s %C(brightblack)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --all
	lg2 = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lp = log --graph --color --pretty=format:'%C(bold white)%h%Creset -%C(auto)%d%Creset %s %C(brightblack)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --all --stat
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

[user]
	name = {{ .git.user_name | quote }}
	email = {{ .git.user_email | quote }}
{{- if .use_secrets }}
	{{- if eq .git.signing_method "gpg" }}

	{{- $gpgEncryptedPath := joinPath .chezmoi.sourceDir "private_dot_gnupg/encrypted_gpg-public-key.asc.age" -}}
	{{- if stat $gpgEncryptedPath }}
		{{- $gpgId := output "bash" "-c" (printf "chezmoi decrypt %s | gpg --show-keys --with-colons --with-fingerprint | awk -F: '/^fpr:/ {print substr($10, 25); exit}'" $gpgEncryptedPath) | trim -}}
		{{- if $gpgId }}
	signingkey = {{ $gpgId | quote }}
		{{- end }}
	{{- end }}

	{{- else }}
	signingkey = {{ joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub" | quote }}
	{{- end }}
{{- end }}

[color]
	ui = auto

[url "git@github.com:"]
	pushinsteadof = https://github.com/

[pager]
	branch = cat
	config = cat

[pull]
	rebase = true

[core]
	quotepath = false

[rebase]
	autoStash = true

{{ if eq .chezmoi.os "linux" -}}
[credential]
	# 提示：确保安装了 Git Credential Manager 或相应辅助程序
	credentialStore = cache
{{ end -}}

{{- if .use_secrets }}
[commit]
	gpgsign = true

[tag]
	gpgsign = true

	{{- if eq .git.signing_method "gpg" }}

# --- GPG 模式配置 ---
[gpg]
	format = openpgp

	{{- else }}
# --- SSH 模式配置 ---
[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = {{ joinPath .chezmoi.homeDir ".config/git/allowed_signers" | quote }}

	{{- end }}

{{- end }}