{{- if .use_secrets -}}


#!/bin/sh

# fingerprint: {{ (print (stat .chezmoi.configFile) "\n" (include .chezmoi.configFile)) | sha256sum }}

KEY_PATH="${HOME}/.config/chezmoi/key.txt"
if [ ! -f "$KEY_PATH" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    chezmoi age decrypt --output "$KEY_PATH" --passphrase "{{ .chezmoi.sourceDir }}/.key.txt.age"
    chmod 600 "$KEY_PATH"
fi


{{- end -}}
