{{- /* 设置机器类型 */ -}}
{{- $system := "" -}}
{{- if hasKey . "system" -}}
{{-   $system = .system -}}
{{- /* Set client to the MacOS default system */ -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{    $system = "client" -}}
{{- else -}}
{{-   $system = promptString "System (client or server)" "client" -}}
{{- end -}}

{{- /* 处理 Git 用户名逻辑 */ -}}
{{- $gitName := "" -}}
{{- if (and (hasKey . "git") (hasKey .git "user_name")) -}}
{{-   $gitName = .git.user_name -}}
{{- else -}}
{{-   $gitName = promptString "Git User Name" "Forgo7ten" -}}
{{- end -}}

{{- /* 处理 Git 邮箱逻辑 */ -}}
{{- $gitEmail := "" -}}
{{- if (and (hasKey . "git") (hasKey .git "user_email")) -}}
{{-   $gitEmail = .git.user_email -}}
{{- else -}}
{{-   $gitEmail = promptString "Git User Email" "email@gmail.com" -}}
{{- end -}}

{{- /* 设置age解密是否启用 */ -}}
{{- $useSecrets := true -}}
{{- if hasKey . "use_secrets" -}}
{{-   $useSecrets = .use_secrets -}}
{{- else -}}
{{-   $useSecrets = promptBool "是否在此设备启用敏感文件 (y or n)" true -}}
{{- end -}}

# --- 数据配置区 ---
data:
  system: {{ $system | quote }}
  use_secrets: {{ $useSecrets }}
  zsh_scheme: "zinit"
  git:
    # git commit/tag sign (gpg or ssh)
    signing_method: "gpg"
    user_name: {{ $gitName | quote }}
    user_email: {{ $gitEmail | quote }}

gitHub:
  refreshPeriod: 720h

# --- 默认umask ---
umask: 0o022
# --- age加密配置 ---
{{- if $useSecrets }}
encryption: "age"
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age17amcunnqrumaaanyajp5vllcm9p0up49duz3jp9ghp3jxqtuwqyqvkvx70"
{{- end }}
