# Zinit 本体由 chezmoi 负责首次获取；后续使用 `zinit self-update` 更新。
".local/share/zinit/zinit.git":
  type: "git-repo"
  url: "https://github.com/zdharma-continuum/zinit.git"
  pull:
    args: ["--ff-only"]

{{- $fontsPath := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontsPath = "Library/Fonts" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $fontsPath = ".local/share/fonts" -}}
{{- end -}}

{{- if and $fontsPath (ne .system "server") }}

"{{ $fontsPath }}/MesloLGS":
  type: "archive"
  url: {{ gitHubLatestReleaseAssetURL "romkatv/powerlevel10k-media" "meslo-lgs-nf.tar.gz" | quote }}
  refreshPeriod: "720h"

#"{{ $fontsPath }}/RobotoMono":
#  type: "archive"
#  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "RobotoMono.tar.xz" | quote }}
#  refreshPeriod: "720h"
#  include: ["RobotoMonoNerdFont{,Mono}-{Regular,Bold,Italic,BoldItalic}.ttf"]

{{- end }}


# eza theme
".config/eza/theme.yml":
  type: "file"
  url: "https://raw.githubusercontent.com/eza-community/eza-themes/refs/heads/main/themes/tokyonight.yml"
  refreshPeriod: "720h"

{{- if ne .system "server" }}

# Rime 薄荷输入方案
".local/share/rime/oh-my-rime":
  type: "archive"
  url: "https://github.com/Mintimate/oh-my-rime/archive/refs/heads/main.tar.gz"
  stripComponents: 1
  exact: false
  refreshPeriod: "720h"
  exclude:
    - "*/dicts/custom_simple.dict.yaml"

# Rime 万象语言模型
".local/share/rime/oh-my-rime/wanxiang-lts-zh-hans.gram":
  type: "file"
  url: "https://github.com/amzxyz/RIME-LMDG/releases/download/LTS/wanxiang-lts-zh-hans.gram"
  refreshPeriod: "720h"

{{- end }}
